<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap 4 Dashboard and Admin Template">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link href="{{asset('lib/@fortawesome/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
    <link href="{{asset('lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
    <link href="{{asset('lib/select2/css/select2.min.css')}}" rel="stylesheet">

    <!-- template css -->
    <link rel="stylesheet" href="{{asset('assets/css/cassie.css')}}">
    <link href="{{asset('assets/css/skin.one.css')}}" rel="stylesheet">


</head>
<body class="page-error">

<div class="error-panel">
    <a href="#" class="sidebar-logo"><span>GRH</span></a>

    <div class="svg-wrapper mg-b-40">
        <object type="image/svg+xml" data="{{ asset('img/server.svg') }}"></object>
    </div>
    <h1 class="tx-28 tx-sm-36 tx-numeric tx-md-40 tx-semibold">500 Internal Server Error</h1>
    <h4 class="tx-16 tx-sm-18 tx-md-24 tx-light mg-b-20 mg-md-b-30">Oops. Une erreur s'est produite, veuillez réessayer plus tard.
    </h4>
    <p class="tx-12 tx-sm-13 tx-md-14 tx-color-04">Le serveur a rencontré une erreur de serveur interne et n'a pas pu répondre à votre demande
        .</p>

</div><!-- error-panel -->


<script>
    $(function(){

        'use strict'

        feather.replace();

    })
</script>
</body>
</html>
