{% extends 'base.html.twig' %}

{% block title %}Hello DemandeCongerController!{% endblock %}

{% block body %}

<div class=" content-body content-body-mail  ">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style2">
            <li class="breadcrumb-item"></li>
            <li class="breadcrumb-item active tx-primary " aria-current="page"></li>
        </ol>
    </nav>
    <div class="card card-hover card-task-one ">
        <div class="card-header bg-transparent content-header justify-content-between">
            <h3 class="section-title titshow " style="position:relative; top: 6px;">Liste des congés</h3>
            <h3 class="section-title titshow " style="position:relative; top: 6px;"> <a href="{{ path('demande_conger') }}"> Demande congé</a></h3>
        </div>

    <div class="table-responsive   pd-lg-25 ">
        <table style="width: 100%" class="table table-inbox table-hover" id="example1">
            <thead>
            <tr>
                <th>id</th>
                <th>Date Debut </th>
                <th>Date Fin </th>
                <th>type De Congé</th>
                <th>Cause</th>
                <th>Statu</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for mesdemande in mesdemande %}
            <tr>
                <td>{{ mesdemande.id }}</td>
                <td>{{ mesdemande.debutConger|localizeddate('none', 'none', null, null, 'dd/MM/Y') }}</td>
                <td>{{ mesdemande.finConger|localizeddate('none', 'none', null, null, 'dd/MM/Y') }}</td>
                <td>{{ mesdemande.getTypeConger.titre }}</td>
                <td>{{ mesdemande.cause }}</td>
                <td>{% if mesdemande.status == "0" %}
                    <span class="badge badge-warning">En Attend</span>
                        {% elseif  mesdemande.status == "1"  %}
                            <span class="badge badge-success">Accepter</span>
                        {% else%}
                            <span class="badge badge-danger">Réfuser</span>
                    {% endif %}
                </td>
                <td>{% if mesdemande.status == "0" %}
                    <a  href="{{ path('deleteconger', { 'id': mesdemande.id }) }}">  <i class=" tx-danger far fa-lg fa-trash-alt"> </i></a>
                        <a  href="{{ path('editdemandeconger', { 'id': mesdemande.id }) }}">  <i class=" tx-success far fa-edit fa-lg "> </i></a>

                    {% endif %}

                </td>

            </tr>

            {% endfor %}

        </table>


    </div>
    </div>
</div>





{% endblock %}

{% block javascripts %}

    <script>
        $('#example1').DataTable({
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_ items/page',
            }
        });
    </script>

{% endblock %}



