<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur GRH boubou Informatique{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link href="{{asset('lib/@fortawesome/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
        <link href="{{asset('lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
        <link href="{{asset('lib/select2/css/select2.min.css')}}" rel="stylesheet">
        <link href="{{asset('/lib/prismjs/themes/prism-tomorrow.css')}}" rel="stylesheet">
        <link href="{{asset('/lib/datatables.net-dt/css/jquery.dataTables.min.css')}}" rel="stylesheet">
        <link href="{{asset('/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css')}}" rel="stylesheet">

        <link rel="stylesheet" href="{{asset('assets/css/cassie.css')}}">
        <link href="{{asset('assets/css/skin.one.css')}}" rel="stylesheet">

    </head>
    <body data-spy="scroll" data-target="#navSection" data-offset="100">
    <div class="sidebar">
        <div class="sidebar-header">
            <div>
                <a href="#" class="sidebar-logo"><span>GRH</span></a>
                <small class="sidebar-logo-headline">boubou Informatique</small>
            </div>
        </div><!-- sidebar-header -->
        <div id="dpSidebarBody" class="sidebar-body">
            {% if is_granted('ROLE_SUPER_ADMIN') %}

            <ul class="nav nav-sidebar">
                <li class="nav-item ">
                    <a href="{{ path('user_active') }}" class="nav-link with-sub "><i data-feather="layout"></i> Les utilisateur</a>
                    <nav class="nav nav-sub">
                        <a href="{{ path('user_active') }}" class="nav-sub-link">Utilisateur</a>
                    </nav>
                </li>
                <li class="nav-item show">
                    <a href="" class="nav-link with-sub "><i data-feather="layout"></i>Pays</a>
                    <nav class="nav nav-sub">
                        <a href="{{ path('pays_index') }}" class="nav-sub-link">Ajouter Pays</a>
                    </nav>
                </li>
                <li class="nav-item show">
                    <a href="" class="nav-link with-sub "><i data-feather="layout"></i>les Types Congés</a>
                    <nav class="nav nav-sub">
                        <a href="{{ path('type_conger_index') }}" class="nav-sub-link">Ajouter Types </a>
                    </nav>
                </li>
            </ul>
            {% elseif is_granted('ROLE_EMPLOYE') %}
            <ul class="nav nav-sidebar">
                <li class="nav-item show">
                    <a href="" class="nav-link with-sub "><i data-feather="layout"></i>Listes congés</a>
                    <nav class="nav nav-sub">
                        <a href="{{ path('indexconger') }}" class="nav-sub-link">Listes congés</a>
                    </nav>
                </li>
            </ul>

            {% elseif is_granted('ROLE_ROS') %}
                <ul class="nav nav-sidebar">

                    <li class="nav-item ">
                        <a href="{{ path('emplusers') }}" class="nav-link with-sub "><i data-feather="layout"></i> Les utilisateur</a>
                        <nav class="nav nav-sub">
                            <a href="{{ path('emplusers') }}" class="nav-sub-link">Utilisateur</a>
                        </nav>
                    </li>
                    <li class="nav-item show">
                        <a href="" class="nav-link with-sub "><i data-feather="layout"></i>Listes Demandes Congés</a>
                        <nav class="nav nav-sub">
                            <a href="{{ path('rep_conger') }}" class="nav-sub-link">Demandes Congés</a>
                        </nav>
                    </li>
                </ul>
            {% endif %}
        </div><!-- sidebar-body -->
    </div><!-- sidebar -->

    <div class="content">
        <div class="header">
            <div class="header-left">
                <a href="" class="burger-menu"><i data-feather="menu"></i></a>

            </div><!-- header-left -->

            <div class="header-right">
                <div class="dropdown dropdown-loggeduser">
                    <a href="" class="dropdown-link" data-toggle="dropdown">
                        <div class="avatar avatar-sm">
                            {% if app.user.photo == null %}
                            <img src="{{asset('img/inc.jfif')}}" class="rounded-circle" alt="">

                            {% else %}
                            <img src="{{asset('uploads/'~app.user.photo)}}" class="rounded-circle" alt="">
                            {% endif %}
                        </div><!-- avatar -->
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-menu-header">
                            <div class="media align-items-center">
                                <div class="avatar">
                                    {% if app.user.photo == null %}
                                        <img src="{{asset('img/inc.jfif')}}" class="rounded-circle" alt="">

                                    {% else %}
                                        <img src="{{asset('uploads/'~app.user.photo)}}" class="rounded-circle" alt="">
                                    {% endif %}                                </div><!-- avatar -->
                                <div class="media-body mg-l-10">
                                    <h6>{{ app.user.name}} {{ app.user.lastname}}</h6>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        Administrateur
                                    {% elseif is_granted('ROLE_EMPLOYE') %}
                                        Employée
                                    {% elseif is_granted('ROLE_ROS') %}
                                        ressource humaine
                                    {% endif %}

                                </div>
                            </div><!-- media -->
                        </div>
                        <div class="dropdown-menu-body">
                            <a  href="{{path('user_index',{'id':app.user.id}) }}" class="dropdown-item"><i data-feather="edit-2"></i> Edit Profile</a>
                            <a href="{{ path('fos_user_security_logout') }}" class="dropdown-item"><i data-feather="log-out"></i> Se déconnecter</a>
                        </div>
                    </div><!-- dropdown-menu -->
                </div>
            </div><!-- header-right -->
        </div><!-- header -->


            {% block body %}{% endblock %}



        <script src="{{asset('lib/jquery/jquery.min.js')}}"></script>
        <script src="{{asset('lib/jqueryui/jquery-ui.min.js')}}"></script>
        <script src="{{asset('lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('lib/feather-icons/feather.min.js')}}"></script>
        <script src="{{asset('lib/perfect-scrollbar/perfect-scrollbar.min.js')}}"></script>
        <script src="{{asset('lib/js-cookie/js.cookie.js')}}"></script>
        <script src="{{asset('lib/quill/quill.min.js')}}"></script>
        <script src="{{asset('assets/js/cassie.js')}}"></script>
        <script src="{{asset('lib/datatables.net/js/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('lib/datatables.net-dt/js/dataTables.dataTables.min.js')}}"></script>
        <script src="{{asset('lib/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
        <script src="{{asset('lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js')}}"></script>
        <script src="{{asset('lib/select2/js/select2.min.js')}}"></script>

    </div><!-- content -->

    {% block javascripts %}
    {% endblock %}


    </body>
</html>
